
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --background: #E6E6E3;
    --light:#F0D9B5;
    --dark: #B58863;
    --blue: #0350df;
    --text: #696767;
}

body {
    background-color: var(--background);
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}


* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* Nav */

nav {
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

nav li {
  list-style-type: none;
  margin-right: 30px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}


/* Full Content */

.full-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 90%;
}
/* Body */ 

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

h1 {
  font-size: 2.5vw;
  margin-bottom: 50px;

}

button {
  border-radius: 20px;
  background-color: var(--blue);
  color: white;
  width: 50%;
  height: 2vw;
  border: none;
  margin-bottom: 20px;
  font-size: 1.2vw;
}

.light-square {
  background-color: var(--light);

}

.dark-square {
  background-color: var(--dark)
}

.line {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.line-odd {
  flex-direction: row-reverse;
}


.square {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  cursor: pointer;
}

.square:active {
  background-color: red;
}
.full-board {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  display:flex;
  flex-direction: column;
  border: 2px solid grey;
  resize: both;
  overflow: auto;
  margin-bottom: 40px;

}

p {
  font-size: 1em;
}

.nb-board {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 3px;

}
.coordinates {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin: 2px 0 0 8px
}

.show {
  display:flex;
}

.hide {
  display: none;
}

/* Learn */ 
.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  padding: 5px 0;
}

.learn h2 {
  font-size: 1.5vw;
  font-weight: bold;
}

.learn p, .learn h3 {
  font-size: 1.2vw;
}

.learn span {
  color: var(--blue);
  font-weight: bold;
}

.right-part {
  background-color: white;
  border: solid var(--text) 2px;
  padding: 0 20px;
  height: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 16px -6px grey
}

h2 {
  color: var(--dark)
}

.error-message {
  margin-bottom: 30px;
}

footer {
  height: 70px;
  width: 100%;
  border-top: solid 1px grey;
  position: relative;
  bottom: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px
}

.feedback-user {
  text-align: center;
  color: var(--blue);
  font-weight: bold;
  margin-top: 10px;
}

.bad-answer {
  color: red
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .full-content {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: space-evenly;
  }

  .coordinates, .numbers {
    font-size: 0.5em
  }
  .right-part {
    height: 50%;
    min-width: 30%;
    margin-top: 30px
  }

  .main-container {
    margin: 0
  }
  .board {
    margin-bottom : 0px
  }
  button {
    width: 90px;
    height: 25px;
    font-size: 0.6em;
  }


}